:root{
--darkblue: hsl(197, 37%, 24%);
--turq: hsl(173, 58%, 39%);
--turq2: hsl(173, 58%, 49%);
--yellow: hsl(43, 74%, 66%);
--orange: hsl(27, 87%, 67%);
--red: hsl(12, 76%, 61%);
}

#submitNewIssue{
    padding-bottom: 2rem;
}
#newIssue{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msg-display{
    height: 50px;
    font-weight: bold;
}

.issue{
    padding: 1.5rem;
    background-color: var(--darkblue);
    color: var(--yellow);
    margin-bottom: 0.5rem;
}
.issue.closed{
    color: hsl(197, 17%, 34%);
    background-color: hsl(43, 14%, 66%);
}
.issue > a{
    color: var(--turq2);
    font-weight: bold;
}
.issue.closed > a{
    color: var(--darkblue);
}
.issue:not(.closed) .open-closed{
    color: var(--turq2);
}
/* .issue:not(.issue:last-child){
    border-bottom: 2px solid var(--red);
} */