:root{
  --darkblue: #264653;
  --turq: #2a9d8f;
  --yellow: #e9c46a;
  --code: hsl(43, 44%, 56%);
  --orange: #f4a261;
  --red: #e76f51;
}
h1{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
main{
  display: flex;
  gap: 2rem;
}

#guide-section{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 800px;
}
.guide{
  margin-bottom: 1.5rem;
}
h3{
  margin-bottom: 0.5rem;
}
.guide > p{
  margin-bottom: 0.2rem;
}
.feedback-wrapper{
  padding: 1rem 0;
}
#jsonResult{
  font-weight: bold;
}
#testui-section{
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: var(--orange);
  align-self: flex-start;
  flex-grow: 1;
  /* max-width: 600px; */
}
#testui-section > h2{
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.forms-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem
}
.form-wrapper{
  display: flex;
  flex-direction: column;
}

.form-wrapper form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: rgb(148, 148, 148);
}

.id {
  font-size: 10.5px;
}

.bold{
  font-weight: 700;
}

@media screen and (max-width: 1000px){
  main{
    flex-direction: column;
  }
  #testui-section{
    align-self: stretch;
  }
}